@@ -1,360 +0,0 @@
fhtml, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

header{
  top:0;
  right: 0;
  left: 0;
background-color: #000000;
width:100%;
  height:80px;
}

header ul {
margin: 0px;
padding: 0px;
list-style: none;
}
body{
  margin: 0;
}
header .header-brand{
  display: block;
  text-align: left;
  line-height: 28px;
  padding: 0px 10px 0px 10px;
  border:1px solid #fff;
  float: left;
  border: 5px solid #fff;
  background-color: #fff;
  color:#000000;
  margin-top: 20px;
  margin-left: 10px;
}
 header ul li{
  color:	#00FFFF;
  float: left;
  width: 200px;
  height: 40px;
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;

}
header ul li a{
  color: #fff;
  text-decoration: none;
  display: block;
}
header li a:hover{
  background-color: green;
}
header ul li ul li{
  display:none;
}
ul li:hover ul li{
  display: block;
}

.kapsar a div{
  float: left;

}
.gallery-container a div{
padding-top: 50px;
margin-left: 2px;
margin-top: 1px;
    width: 30%;
  height: 235px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.gallery-container a p{
  display: inline-block;
  white-space:pre-wrap;
  position: relative;
  bottom:30px;
  font-size: 20px;
  font-weight: 700;
  color:#fff;
  background-color: #111;
  margin-left: 200px;
}

.helloo a div p{
  white-space:pre-wrap;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color:#111;
  position: relative;
  left: 100px;
  top:300px;
}
.helloo a div{
  margin-left: 1px;
  width: 39%;
  margin-top: 1px;
  height: 570px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
.giris{
  left: 500px;
  top: 250px;
  position: absolute;
  visibility: hidden;
background-color: #D4FF33;
width: 30%;
margin: 0 auto;

}
.kapat img{
  cursor:pointer;
float: right;
}
.login-konum a{
  float: right;
    padding-left: 40px;
    margin-right: 20px;
    color:#fff;

}
.yazi{
  font-weight: bold;
  font-size: 30px;
  margin-left: 120px;
  margin-top: 30px;
}
.sayfa hr{
  background-color: #FF0000;
}
.sayfa div{
    margin:auto;
    height: 300px;
    width: 80%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.sayfa p{
  display: inline-block;
  white-space:pre-wrap;
  position: relative;
  bottom:30px;
  font-size: 20px;
  color:#111;
}
.kayýt{
  left: 500px;
  top: 250px;
  position: absolute;
  visibility: hidden;
background-color: #fff;
width: 30%;
margin: 0 auto;
}
.menu button{
  background-color: #D4FF33;
margin-left: 20px;
  font-size: 16px;
padding: 15px 15px;
}

.menu{
  padding-bottom: 50px;
}
.menu input{
  margin-left: 5px;
  height: 20px;
width: 50%;
padding: 5px 10px;
font-size: 16px;
border-radius: 5px;
border: 1px solid #b0c4de;
color:#000;
}
.logout h2{
  float: right;
    color:#fff;
}
.gerikalan{
  color: 	#F8F8FF;
}
  .gerikalan a div h2{
    position: relative;
    left: 500px;
    top: 20px;
display: inline-block;
  font-size: 15px;
  font-weight: 700;
  color:	#0000CD;
  }

.gerikalan {
  width: calc(45% - 20px) !important;
  margin-left: 250px;

}
.gerikalan a div{
  margin-top: 50px;
    width: 50%;
  height: 70px;
  background-color: 	#000000;
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.haber hr{
width: 80%;
background-color: #FF0000;

}
.haber p{
  margin-left: 500px;
  background-color: #000000;
    display: inline-block;
    position: relative;
    top:25px;
    color:#fff;
    font-size: 46px;
}
.gallery-admin div{
padding-top: 50px;
    width: 30%;
  height: 235px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
.gerikalan  hr{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 300px;
  height: 1px;
  width: 50%;
    background-color: #FF0000;
}
.gerikalan a div:hover{
  text-decoration: underline;
}
.gerikalan a{
  text-decoration: none;
}
.gerikalan a div p{
  white-space: pre-wrap;
  position: relative;
  left: 300px;
  top: 5px;
  font-size: 20px;
  font-weight: 700;
  color:#111;

}
.facebook{
  position: relative;
  left: 70px;
  top:30px;
  height:110px;
  width: 10%;
  float: right;
  background-image: url('resim/facebook.png');
    background-repeat: none;
  background-size: cover;
  background-position: center;
}
.twitter{
  position: relative;
  top:160px;
  right: 70px;
  float: right;
  height:110px;
  width: 10%;
  background-image: url('resim/twitter.png');
  background-repeat: none;
  background-size: cover;
  background-position: center;
}